.container {
    width: 100%; max-width: 900px;
    margin: auto;
    border: solid 3px;
}

.center {
    width: 100%; max-width: 600px;
    padding: 20px;
    margin: 10px auto;
    border: solid 2px;
    box-sizing: border-box;
}

.centerbox {
    padding: 0px;
}

.background {
    background-image: url("../images/backgroundtest.png");
    box-sizing: border-box;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

img.header {
    height: auto;
    width: 100%; max-width: 900px;
    margin: 0 auto;

}

img.drawings {
    height: auto;
    width: 100%; max-width: 500px;
    margin: 0 auto;
    display: block;
    border: solid black;
}

.info {
    width: 100%; max-width: 400px;
    margin: 5px auto 0;
    border: solid;
    text-align: center;
}

img.tile { 
    border: 25px solid transparent;
    padding: 25px;
    border-image-source: url("../images/TileAttempt2.png");
    border-image-repeat: round;
    border-image-slice: 50;
    box-sizing: border-box;
  }

.artist {
    width: 100%; max-width: 400px;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-bottom: 5px;
}


li {
    margin: 0 50px;
    padding: 10px;
    font-size: 20px;
  }

  
ul {
    display: inline-flex;
    list-style: none;
    padding: 10px;
  } 

.navigation {
    display: flex;
    align-items: center;
  justify-content: center;
}

.outline {
    width: 100%;
    padding: 5px 15px 50px 15px;
    margin: 0 15px -30px 15px;
}

.left {
    background-image: url("../images/hand.png");
    box-sizing: border-box;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.leftclosed {
    background-image: url("../images/handclosed.png");
    box-sizing: border-box;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding: 0 20px 0 20px; 
}


.right {
    background-image: url("../images/handrt.png");
    box-sizing: border-box;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.rightclosed {
    background-image: url("../images/handrtclosed.png");
    box-sizing: border-box;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding: 0 20px 0 20px; 
}

a.none:link, a.none:hover {
    text-decoration: none;
    box-sizing: border-box;
    display: inline-flex;
}

img.navartist {
    height: auto;
    width: 100%; max-width: 40px;
    display: inline-block;
}